/* Основные стили */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1380px;
  padding: 0 10px;
}

.background-slide {
    background: radial-gradient(circle at center, #00a5f1, #4551a3);
  height: 460px;
  width: 100%;
  position: absolute;
  top: 66px;
}

.background-slide__img {
  position: absolute;
  right: 0;
}

/* Header */
.header {
  height: 66px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__container {
  padding-top: 9px;
}

.header__blocks {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  gap: 9px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav-item {
  cursor: pointer;
  color: #00151c;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
}

/* Banner */
.banner {
  position: relative;
  height: 525px;
  display: flex;
}

.banner__info {
  max-width: 832px;
  padding: 60px 0;
  color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.banner__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 16.5px;
  text-align: left;
  display: flex;
  gap: 10px;
}

.banner__main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.banner__main-title {
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.03em;
  text-align: left;
}

.banner__description {
  max-width: 652px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.button--consultation {
  width: 309px;
  height: 68px;
  padding: 24px 48px 24px 48px;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  text-align: left;
}

/* Down Banner */
.content-text {
  margin: 60px 0;
  max-width: 831px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
}

/* Instruction */
.instruction {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.instruction__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 320px;
  border-radius: 50%;
  background-color: #f2fbfe;
}

.instruction__block {
    position: relative;
  width: 210px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.instruction__svg {
  background: radial-gradient(
    93.54% 93.85% at 50% 50%,
    #00b6f1 14.12%,
    #4551a3 83.52%
  );
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.91px;
  color: #fff;
}

.instruction__title-svg {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #4f504f;
}

.button {
  padding: 12px 20px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  background: linear-gradient(215.23deg, #00b6f1 -28.29%, #4551a3 50.61%);
  color: #fff;
}

.button--consultation {
  width: 309px;
  height: 68px;
  padding: 24px 48px;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
}

.button--application {
    position: absolute;
    top: 90px;
  width: 164px;
  height: 41px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16.5px;
}

.button__text {
  font-family: "Inter", sans-serif;
}


/* fucking icon */
.instruction__svg--icon1 {
  display: flex;
  flex-direction: column;
}

.instruction__svg--icon2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.instruction__heart {
  position: absolute;
  right: 14px;
  top: 26.5px;
}

.instruction__svg--icon3 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.instruction__vertical {
  position: absolute;
  right: 17.5px;
}

.instruction__svg--icon4 {
  position: relative;
}

.instruction__arrow {
  position: absolute;
  top: 11.5px;
  right: 12px;
}

.instruction__title-svg {
  width: 232px;
}
